{
    "presets": ["babel-preset-gatsby"],
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["javascript", "css", "html", "bash", "json"],
                "plugins": ["show-language", "line-numbers"],
                "theme": "okaidia",
                "css": true
            }
        ]
    ]
}
