@import url("https://use.typekit.net/rfo4ebp.css");

/* Scss Variables */
$media-md: 600px;
$media-lg: 840px;
$media-xl: 1200px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "aktiv-grotesk";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/* Sections should be used universally to represent a 
logical separation in the content of any given page, 
and additional tweaks should be made in the styled-component 
of the specific page that needs it (e.g. negative margin) */
section {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $media-md) {
        section {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    @media only screen and (min-width: $media-lg) {
        section {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media only screen and (min-width: $media-xl) {
        section {
            padding-left: 96px;
            padding-right: 96px;
        }
    }
}


h1,
h2,
h3,
p,
span {
    font-family: "aktiv-grotesk";
}

// Smaller headers use the extended font
h4,
h5,
h6 {
    font-family: "aktiv-grotesk-extended";
    text-transform: uppercase;
}



/* ------------------------------------------------- */
/* Styles added by gastby that we can choose to keep */

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}